html, body {
    min-height:100%;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c53+0,ff3b30+100 */
background: rgb(255,92,83); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,92,83,1) 0%, rgba(255,59,48,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,92,83,1)), color-stop(100%,rgba(255,59,48,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,92,83,1) 0%,rgba(255,59,48,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,92,83,1) 0%,rgba(255,59,48,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,92,83,1) 0%,rgba(255,59,48,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,92,83,1) 0%,rgba(255,59,48,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c53', endColorstr='#ff3b30',GradientType=0 ); /* IE6-9 */
}

.center-vertical {
  position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    vertical-align:top;
}

.full-height { height:100%; }

.separation-40 { height:40px; display: block; }
.separation-20 { height:20px; display: block; }
.separation-10 { height:10px; display: block; }

/* BOOTSTRAP CHANGES */
.btn {
    width:100%;
}
.btn-default {
    background-color:#ff4e28;
    border-color: #ff6c2b;
    color:#fff;
}
.btn-default:hover,
.btn-default:active,
.btn-default:visited {
    border-color: #ff6c2b;
    background-color:#ff6c2b;
    color:#fff;
}

.navbar-default {
    background-color: #ff5c52;
    border-color: transparent;
}

.navbar-brand,
.navbar-header {
    float:right !important;
}

.navbar-default .navbar-brand {
    color:#fff;
}

.btn-group .btn{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background-color: #ff4439;
}

.white-bg {
    background-color: #fff;
    color: #ff4439;
}

a {
    color:#fff;
}

a.red-link {
    color:#ff4439;
}

a:hover {
    color:#fff;
}
/* SCREEN 1. WELCOME SCREEN */

#welcome-img {width:70%}

/* SCREEN 2. MAP */
.map {
    position:absolute;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
    z-index: -10;
    overflow: hidden;
}

#map-screen-1 {
    background-color: rgba(27, 77, 123, 0.4);
    background: rgba(27, 77, 123, 0.4);
    
    background-image: url(img/meeting-ya.png);
    background-position: center center;
    background-repeat: no-repeat;
    
    position:absolute;
    top: 50px;
    right:0;
    left:0;
    bottom: 52px;
    z-index: -1;
}

#map-screen-2 {
    background-color: rgba(27, 77, 123, 0.8);
    background: rgba(27, 77, 123, 0.8);
    color: #fff;
    
    position:absolute;
    top: 50px;
    right:0;
    left:0;
    bottom: 52px;
    z-index: -1;
}

#profile {
    background-color: rgba(27, 77, 123, 0.8);
    background: rgba(27, 77, 123, 0.8);
    color: #fff;
    
    position:absolute;
    top: 50px;
    right:0;
    left:0;
    bottom: 52px;
    z-index: -1;
    
    overflow: scroll;
}

.close {
    float:left;
    color:#fff;
    margin-left: 10px;
}

#msg,
#chat {
    background-color: #fff;
    color: #ff4439;
    
    position:absolute;
    top: 50px;
    right:0;
    left:0;
    bottom: 52px;
    z-index: -1;
    
    overflow: scroll;
}

/* BUBBLES FOR MESSAGE */
@import "compass/css3";

section {
	max-width: 450px;
	margin: 50px auto;

	div {
		max-width: 255px;
		word-wrap: break-word;
		margin-bottom: 20px;
    line-height: 24px;
	}
}

.clear {clear: both}
.from-me {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#ff4439;
	border-radius:25px;
	float: right;
		
	&:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #ff4439;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}
.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  float: left;
		
	&:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}